Current ABNF only allows for single-character baggage value

In the ABNF `value` is defined as `%x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E`, which only allows for a single octet in the value.

```
list        =  list-member 0*179( OWS "," OWS list-member )
list-member =  key OWS "=" OWS value *( OWS ";" OWS property )
property    =  key OWS "=" OWS value
property    =/ key OWS
key         =  token ; as defined in RFC 2616, Section 2.2
value       =  %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
               ; US-ASCII characters excluding CTLs,
               ; whitespace, DQUOTE, comma, semicolon,
               ; and backslash
OWS         =  *( SP / HTAB ) ; optional white space, as defined in RFC 7230, Section 3.2.3
```

The ABNF should be extended to allow for an arbitrary number of octets.