When multiple baggage headers are used, clarify that minimum limits apply to the cumulative total

Section 3.3 in the spec describes a case where baggage info can be split into multiple baggage headers.

For this case, we should clarify that the minimum limits apply to the cumulative total, and not to each individual baggage header.

From Daniel Dyla: There's a HTTP related spec that talks about this behavior.

I think [`RFC9110§5.2`](https://www.rfc-editor.org/rfc/rfc9110.html#section-5.2) is the relevant spec here
> When a field name is only present once in a section, the combined "field value" for that field consists of the corresponding field line value. When a field name is repeated within a section, its combined field value consists of the list of corresponding field line values within that section, concatenated in order, with each field line value separated by a comma. For example, this section:
>```
>Example-Field: Foo, Bar
>Example-Field: Baz
>```
> contains two field lines, both with the field name "Example-Field". The first field line has a field line value of "Foo, Bar", while the second field line value is "Baz". The field value for "Example-Field" is the list "Foo, Bar, Baz".
